/* @font-face { */
/* 	font-family: roboto-light-webfont; */
/* 	src: url("../fonts/Roboto-Light-webfont.ttf"); */
/* } */

body {
		font-family: 'Roboto', sans-serif;
}
#message {
	/* TODO: vedere se gestiti come tk si riesce a fare a meno di questi tre campi  */
	background-color: rgb(240, 240, 240);
	border: 1px solid black;
	padding: 20px 30px;
	
	position: fixed;
    display: block;
    top: 100px;
	left: 43%;
    width: 460px;
    z-index: 100;
    
}

#message .message {
	background-color: rgb(240, 240, 240);
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 2px solid darkgray;
	border-bottom: 2px solid darkgray;
	color: rgb(75 , 75 , 75);
	padding: 25px 40px;
}

#message .message h3 {
	font-size: 16px;
	margin: 0;
}

#message .message p {
	font-size: 14px;
	margin: 8px 0 0 0;
}

#login {
	background: url("../images/logo.png") no-repeat 30px 30px rgb(240, 240, 240);
	border: 1px solid rgb(34, 132, 145);
	bottom: 0;
	border-radius: 3px;
	left: 0;
	height: 285px;
	margin: auto;
	padding: 100px 0 0 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 387px;
}

#login .input {
	border: 1px solid rgb(175, 175, 175);
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 10px;
	width: 325px;
}

#login .button {
	background-color: rgba(34, 132, 145, 0.9);
	border: 0;
	border-radius: 3px;
	color: white;
	margin-top: 10px;
	padding: 10px;
	width: 325px;
}

#login .button:hover {
	background-color: rgba(20, 120, 130, 0.9);
	cursor: pointer;
}

#main .navbar {
    background-color: rgba(34, 132, 145, 0.9);
    border: 0;
}

#main .navbar-brand {
    color: rgb(245, 245, 245);
}

#main .navbar-nav > li > a {
    color: rgb(245, 245, 245);
    line-height: 45px;
}

#main .container {
	margin-top: 75px;
	width: 90%;
}

#main .highlight {
    border-top: 1px solid rgb(0, 110, 165);
    display: block;
    margin: 30px auto;
    width: 80%;
}

#main .highlight-rect {
	background-color: rgb(20, 165, 255);
	display: block;
    height: 10px;
    left: 50%;
    margin-left: -125px;
    margin-top: -10px;
    position: absolute;
	width: 250px;
}

#main .button {
	background-color: rgba(34, 132, 145, 0.9);
	border: 0; 
	border-radius: 3px; 
	color: white;
	margin-top: 10px;
	padding: 10px; 
}

#main .button:hover {
	background-color: rgba(20, 120, 130, 0.9);
	cursor: pointer; 
}

/* #main label {
	color: rgb(75, 75, 75);
	margin-top: 10px;
} */

#main .overlay {
	background-color: rgba(245, 245, 245, 0.5);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;	
	top: 0;
	z-index: 1030;
}

#praticaDetailNotePopupContent {
	background-color: rgb(240, 240, 240);
	border: 1px solid rgb(34, 132, 145);
	border-radius: 3px;
	bottom: 0;
	height: 510px;
	left: 0;
	margin: auto;
	padding: 0 30px 0 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 950px;
}

#praticaFamiliareDetailNotePopupContent {
	background-color: rgb(240, 240, 240);
	border: 1px solid rgb(34, 132, 145);
	border-radius: 3px;
	bottom: 0;
	height: 510px;
	left: 0;
	margin: auto;
	padding: 0 30px 0 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 950px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    background-color: #0275d8!important; /* Modern Browsers rgb(20, 165, 255)*/
}